body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
    margin: 0px;
    max-width: 100%;
    float: left;
    display: block;
}

.logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
}
 .space {
     margin:0px;
     padding: 10px;
 }

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display:grid;
    grid-template-columns: 3fr 1fr;
}

nav {
    background-color: #000;
    padding: 0.5em;
    display:grid;
    position: sticky;
    top:0px;
    grid-template-rows: 1fr auto;
    grid-row-gap: 10px;
}

nav ul {
    margin: 0px;
    padding: 0.5px;
    list-style:none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.2em 0em;
}

.photos {
    list-style: none;
    margin: 0px;
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap:1px;
    height:50px;
}

.feature {
    width: 200px;
    margin: 15px;
}
